.widget-sidebar.widget_archive
  .widget-title
    %h3 Archives

    %ul
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        %li
          = link_to year, blog_year_path(year)
          %span= articles.size