<!doctype html>
<html>
  <%= partial "layouts/head" %>

  <body id="page-top">

    <!-- begin:container -->
    <div class="container content-wrapper">

      <%= partial "layouts/navbar" %>
      
      <%= yield %>

      <%= partial "layouts/footer" %>

    </div>
    

  </body>
</html>
